<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Recipe</title>
  </head>
  <body>
    <h1>
      <% if (message) {%>
      <div class="message"><%= message %></div>
      <% } %>
    </h1>
  </body>
</html>
