<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/login" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailInput" /><br />
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />
      <% if (redirect) { %>
      <input type="hidden" name="redirect" value="<%= decodeURIComponent(redirect) %>" />
      <% } %>
      <button data-testid="entrar" type="submit">Entrar</button>
    </form>
    <button data-testid="cadastrar"><a href="/registration">cadastrar</a></button>
  </body>
</html>
