.recipe-photo {
  border-radius: 6px 0;
  /* height: 109px; */
  left: 13px;
  top: 163px;
  width: 100px;
}

.recomendationContainer {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-bottom: 50px;
}

.reconedationCard {
  margin: 15px;
}
